html,body{	
	overflow-x: hidden;
	scroll-behavior: smooth;
}

button a{
	text-decoration: none;
	color: white ;
}
button:hover a{
	text-decoration: none;
	color: white ;
}
h3{
	text-align: center;
}


.center{
	text-align: center;
}

.navbar{
	display: flex;
	justify-content: space-between;
	min-height: 3rem;
}


.navbar-links a{	
	padding:5px 15px 5px 15px;
	font-size: 16px;
}

.navbar-links a:hover{
	transition: 0.35s;
	color: white;
	background-color: #757679;
	border-bottom: 2px solid white;
	
}

.home-wrapper{
	background-color:#101010 ;
}
.home {
	padding: 9em;
	text-align: center;
	color: #D7DEE2;
}
.home h5{
	text-align: left;
	margin-left: 25%;
}
.name{
	font-size: 40px;
}

.hr{
	border-bottom: 2px solid #8A8D8F;
	margin: 1em 0 1em 25%;
	width: 50%;
}

.know-more{
	height: 5em;
	background-color:#101010 ;
	display: flex;
  	justify-content: center;
  	margin-bottom: 1em;
}
.know-more button a{
	text-decoration: none;
	color: #EFEBEB;
}
.know-more button:hover a{
	text-decoration: none;
	color: white;
}

.know-more button {
	font-size: 20px;
	width: 14em;
}

.my-pic img{
	width: 70%;
	border-radius: 50%;
}

.about-wrapper h3{
	text-align: center;
	padding-bottom: 10px;	
}
.about-text{
	margin-top: 4.5em;
}
.about-hr{
	border-bottom: 2px solid #8A8D8F;
	width: 14%;
	margin-left: 43%;
}

.about-wrapper img{
	margin: 3em 3em 3em 5em;
}

.about-section{
	display: flex;
	justify-content: space-between;
}

.faa{	
	padding-right: 10px;
	color: #609FC9;
	margin-bottom: 1em;
	margin-left: 10px;
}

.faa:hover{
	opacity: 0.7;
}

.know-btn{
	display: flex;
  	justify-content: center;
}
.know-btn button{
	font-size: 20px;
	width: 14em;
}
.know-btn button a {
	text-decoration: none;
	color: #EFEBEB;
}

.skills-wrapper{
	background-color: #F3F0EF ;
	transform: skewY(-2deg);
}

.skills-wrapper h3{
	text-align: center;
	padding-bottom: 10px;	
	transform: skewY(2deg);
}

.skills-hr{
	border-bottom: 2px solid #FE8E60 ;
	width: 19%;
	margin-left: 40.5%;
	transform: skewY(2deg);
}

.skills-wrapper h6{
	text-align: center;
	margin: 0 3em 0.5em 3em;
	transform: skewY(2deg);
}
.skew{
	transform: skewY(2deg);
}

.skill-icon img{
	width: 16%;
} 
.skill-icon:hover img{
	transition: 1s ease;
	transform: rotateZ(360deg);
}







/*
.portfolio-wrapper h3{
	text-align: center;
	padding-bottom: 10px;	
}

.portfolio-hr{
	border-bottom: 2px solid red ;
	width: 22%;
	margin-left: 39%;
}


.car-img{
	width: 100%;
}

#ecommerce{
	margin-left: 10%;
	width: 87%;
	border: 2px solid black;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators{
	cursor: pointer;
	filter: invert(1);
}

.ec-head{
	margin-left: 10%;
	background-color: #FEFDDC;
	width: 87%;
}

.view{
	display: flex;
  	justify-content: center;
}
.view button{
	width: 15%;
}

#mini-website{
	margin-left: 5%;
	width: 85%;
	border: 2px solid black;
	max-height: 20em;
}

.mini-head{
	margin-left: 5%;
	background-color: #DCF8FE;
	width: 87%;
}

.covid{
	margin-left: 10%;
	width: 87%;
	border: 2px solid black;
	height: 20em;
	max-height: 20em;
}
.covid-head{
	margin-left: 10%;
	background-color: #FCE8E8;
	width: 87%;
}

.zero21{
	margin-left: 5%;
	width: 87%;
	border: 2px solid black;
	height: 20em;
}


.zero21-head{
	margin-left: 5%;
	background-color: #FDEBD0;
	width: 87%;
}

.tictactoe{
	margin-left: 10%;
	width: 87%;
	border: 2px solid black;
	height: 20em;
}

.tictactoe-head{
	margin-left: 10%;
	background-color: #EAECEE;
	width: 87%;
}

*/




.certifications-wrapper{
	background-color: white;
	height: auto;
}


.certifications-wrapper h3{
	text-align: center;
	
}

.certifications-hr{
	border-bottom: 2px solid lightseagreen ;
	width: 28%;
	margin-left: 36%;
}

.cert-row-ht{
	height: 24em;
}

.bg-certificate{
	margin: 20px;
	width: 90%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.btn-wrapper{
	text-align: center;	
	margin-top: -15em;
}
.text{
	color:transparent;			
	font-size: 18px;
	text-align: center;
	margin:0 5em;
}

.certificate:hover .text{
	color: lightseagreen;
	transition: 0.5s;
	filter: brightness(100%);
}

.btn-wrapper button{
	display: none; 
}

.certificate:hover .btn-wrapper button{
	margin-top: 20px;
	margin-left: 35.5%;
	display: block;
	filter: brightness(100%);
}

.certificate:hover .bg-certificate{
	transition: 0.7s;
	filter: brightness(10%);
}
.cert-contact-separater{
	background-color:#F3F0EF ;
	height: 3em;
}

.contact-hr{
	border-bottom: 2px solid #FCFC01 ;
	width: 15.7%;
	margin-left: 42%;
}

.contact-wrapper{
	background-color: #413F3F;
}
.contact-wrapper h3{
	color: white;
}
.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 75%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #71715A;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 75%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #C2C27D ;
}

/* Set a style for the submit button */
.submit{
  color: white;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
  margin-left: 20%;
  height: 40px;
}

.submit:hover {
  opacity: 1;
}
.formm{
	margin-left: 27%;
}
.find-hr{
	border-bottom: 2px solid red ;
	width: 12.7%;
	margin-left: 43.5%;
}
.map{
	text-align: center;
}
.map iframe{
	border: 2px solid black;
}
footer{
	background-color: #302F2F;
	height: 4em;
	text-align: center;
	color: #D3D3D3;
}
.footer {
	font-size: 12px;
}
.footer:hover{
	color:white;
}

.toggle-button{
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 40px;
	height: 30px;
	padding: 5px;
}

.toggle-button .bar{
	width: 100%;
	height: 3px;
	border-radius: 10px;
	background-color: white;
}

/* RESPONSIVENESS */


@media (max-width: 800px) {
	

	.toggle-button{
		display: flex;
	}

	.toggle-button:hover{
		transition: 0.35s;
		background-color: #757679;
		cursor: pointer;
	}

	.navbar-links{
		display: none;
		flex-direction: column;
		width: 100%;
		text-align: center;
	}

	.active{
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
	}
	.active a{	
		padding:5px 15px 5px 15px;
		font-size: 16px;
	}

	.active a:hover{
		transition: 0.35s;
		color: white;
		background-color: #757679;
	}	
	.footer {
		font-size: 11px;
	}
}


@media (max-width: 1026px) {
	
	.home{
		padding: 7em;
	}
	.name{
		font-size: 30px;
	}
	.home h5{
		font-size: 18px;
	}
	.eat{
		width: 100%;
		height: 18rem;
	}

	.know-more button {
		font-size: 16px;
		width: 12em;
	}

	.about-wrapper h3{
		font-size: 25px;
	}

	.my-pic img{
		padding: 0;
		width: 90%;
		margin-left: 10%;
	}

	.about-wrapper h6{
		font-size: 15px;
	}


	.know-btn button{
		margin-top: 2em;
		font-size: 16px;
		width: 13em;
	}

	.skills-wrapper h3{
		font-size: 25px;
	}
	.skills-wrapper img{
		width: 22%;
	}
	.skills-wrapper h5{
		font-size: 18px;
	}

	.portfolio-wrapper h3{
		font-size: 25px;
	}
	.portfolio-wrapper h5{
		font-size: 18px;
	}
	.portfolio-wrapper p{
		font-size: 15px;
	}
	#ecommerce,.ec-head{
		width: 95%;
		margin-left: 10px;
	}
	#mini-website,.mini-head{
		width: 95%;
		margin-left: 0;
	}
	.view button{
		width: 23%;
	}
	.covid-head{
		width: 95%;
		margin-left: 10px;
		margin-bottom: 2.3em;
	}
	.covid{
		width: 95%;
		margin-left: 10px;
		height: 17em;
	}
	.zero21{
		width: 95%;
		margin-left: 0;		
		height: 17em;
	}
	.zero21-head{
		width: 95%;
		margin-left: 0;		
	}

	.tictactoe{
		width: 95%;
		margin-left: 10px;
		height: 17em;
	}
	.tictactoe-head{
		width: 95%;
		margin-left: 10px;
	}

	.certifications-wrapper h3{
		font-size: 25px;
	}
	.cert-row-ht{
		height: 14em;
		margin-top: 1.5em;
	}
	.btn-wrapper{
		text-align: center;	
		margin-top: -11em;
	}
	.text{
		color:transparent;			
		font-size: 14px;
		text-align: center;
		margin:0 5em;
	}
	.certificate:hover .btn-wrapper button{
		margin-top: 20px;
		margin-left: 30%;
		display: block;
		filter: brightness(100%);
		font-size: 14px;
	}

	.certifications-wrapper{
		height: auto;
	}

	.contact-wrapper h3{
		font-size: 25px;
	}
	
}

	
@media (max-width: 767px){

	.home{
		padding-bottom: 0;
	}
	.hr{
		border-bottom: 2px solid #8A8D8F;
		margin: 1em 0 1em 28%;
		width: 45%;
	}
	.home h5{
		text-align: left;
		margin-left: 28%;
		font-size: 16px;
	}
	.eat{
		height: 93%;
	}
	.know-more button {
		font-size: 14px;
		width: 12em;
	}
	.about-wrapper h3{
		font-size: 22px;
	}
	.about-hr{
		width: 22%;
		margin-left: 39%;
	}
	.my-pic{
		text-align: center;
	}
	.my-pic img{
		width: 40%;
	}
	.about-text{
		margin: 0 10px 0 15px;
	}
	.about-text h6{
		font-size: 14px;
	}
	.know-btn button{
		margin-top: 2em;
		font-size: 14px;
		width: 13em;
	}
	
	.skills-wrapper h3{
		font-size: 22px;
	}
	.skills-wrapper h6{
		font-size: 14px;
	}
	.skills-wrapper img{

		width: 14%;
	}
	.skills-wrapper h5{
		font-size: 15px;		
		margin-left: 2em;
	}

	.portfolio-wrapper h3{
		font-size: 22px;
	}


	#ecommerce,.ec-head{
		width: 90%;
		margin-left: 25px;
	}
	#mini-website,.mini-head{
		width: 90%;
		margin-left: 25px;
	}
	#mini-website{		
		max-height: 23em;
	}
	.view button{
		width: 23%;
		margin-bottom: 1.5em;		
	}
	.covid-head{
		margin-bottom: 0;
		margin-left: 25px;
		width: 90%;
		margin-top: 0;
	}
	.covid{
		margin-left: 25px;
		width: 90%;
		margin-top: 0;
	}
	.zero21, .zero21-head{
		width: 90%;
		margin-left: 25px;
	}
	.tictactoe-head, .tictactoe{
		width: 90%;
		margin-left: 25px;
	}

	.certifications-wrapper h3{
		font-size: 23px;
	}
	.certifications-wrapper{
		height: auto;
	}
	.cert-row-ht{
		height: auto;
	}
	.certificate{
		height: 15em;
	}
	.btn-wrapper{
		width: 60%;
		margin-left: 19.5%;
		margin-top: -11.2em;
	}
	.certificate:hover .btn-wrapper button{
		margin-top: 20px;
		margin-left: 35%;
		font-size: 14px;
	}
	.cert-contact-separater{
		display: none;
	}
	.contact-hr{
		width: 25%;
		margin-left: 37%;
	}
	.formm{
		margin-left: 17%;
		width: 92%;
	}
	.submit{
		margin-left: 22%;
	}	
	.find-hr{
		width: 25%;
		margin-left: 37%;
	}	
	.find h3{
		font-size: 23px;
	}
}

@media (max-width: 500px) {
	
	.toggle-button{
		width:40px;
		height: 30px;
	}
	.home{
		padding-bottom: 0;
	}
	.name{
		font-size: 28px;
	}
	.know-more button {
		font-size: 14px;
		width: 13em;
	}
	.eat{
		height: 100%;
	}
	.about-wrapper h3{
		font-size: 22px;
	}
	.my-pic{
		text-align: center;
	}
	.my-pic img{		
		width: 52%;
	}
	.about-wrapper h6{
		font-size: 14px;
	}
	.know-btn button{
		margin-top: 2em;
		font-size: 14px;
		width: 13em;
	}
	.skills-wrapper h3{
		font-size: 22px;
	}
	.skills-wrapper h6{
		font-size: 14px;
	}
	.skills-wrapper img{
		align-items: center;
		width: 19%;
	}
	.skills-wrapper h5{
		font-size: 15px;		
		margin-left: 2em;
	}
	.skills-hr{
		margin-left: 33%;
		width: 35%;
	}


	.portfolio-wrapper h3{
		font-size: 22px;
	}
	.portfolio-hr{
		width: 41%;
		margin-left: 28%;

	}
	.ec-head h5, .mini-head h5, .covid-head h5, .zero21-head h5, .tictactoe-head h5{
		font-size: 16px;
	}
	.ec-head p, .mini-head p, .covid-head p, .zero21-head p, .tictactoe-head p{
		font-size: 14px;
	}
	.view button{
		width: 20.5%;
		margin-bottom: 1.5em;	
		font-size: 14px;	
	}
	.dropdown-item{
		font-size: 14px;
	}
	#ecommerce,.ec-head{
		width: 92%;
		margin-left: 15px;
		margin-right: 15px;
	}
	#mini-website,.mini-head{
		width: 92%;
		margin-left: 15px;
		margin-right: 15px;
	}
	.covid-head{
		margin-bottom: 0;
		margin-left: 15px;
		margin-right: 15px;
		width: 92%;
		margin-top: 0;
	}
	.covid{
		margin-left: 15px;
		margin-right: 15px;
		width: 92%;
		margin-top: 0;
	}
	.zero21, .zero21-head{
		width: 92%;
		margin-left: 15px;
		margin-right: 15px;
	}
	.tictactoe-head, .tictactoe{
		width: 92%;
		margin-left: 15px;
		margin-right: 15px;
	}

	.certifications-wrapper h3{
		font-size: 22px;
	}
	.text{
		width: 80%;
		margin-left: 10%;
		font-size: 13px;
	}
	.certificate:hover .btn-wrapper button{
		margin-top: 20px;
		margin-left: 22%;
		font-size: 13px;
	}
	.cert-contact-separater{
		display: none;
	}
	.certificate{
		margin-left: 10px;
	}

	.contact-wrapper h3{
		font-size: 22px;
	}
	.formm{
		margin-left: 12.5%;
		width: 105%;
	}
	.input-field{
		height: 2.25em;
	}
	.submit-btn button{
		font-size: 12px;
		height: 2.6em;
		width: 6em;
	}
	.submit-btn{
		margin-left: 1em;
	}
	.faa{
		margin-bottom: 1em;
		margin-left: 10px;
	}
}